* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Desktop Layout */
body {
  background: #E8E9E8;
  color: #392126;
  font-family: "Actor", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer { 
  min-height: 50px;
  background-image: url(../images/dark_Tire.png);
  color: #F5E5D7;
  padding-top:10px;
  padding-left: 50px;
}

.container {
  margin-bottom: 20px;
  /*background: #392126*/
  background: #E8E9E8;
}

h1, h2, h3 { 
  font-family: 'Rammetto One', cursive;
}

h4, h5, h6 { 
  font-weight: bold;
  font-family: "Actor";
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { 
  color: #333;
}
  
#wrapper {
  background: #444;
  height: 40px;
  color: white;
}
 
#wrapper h3 {
  color: #fff;
  line-height: 40px;
}
 
#wrapper a {
  color: #fff;
  text-decoration: none;
}
 
#wrapper a:hover {
  color: #fff;
  text-decoration: underline;
}
 
nav.primary { 
  width: 960px;
  margin: 0 auto;
}

nav.primary ul,
nav.primary ul li {
  margin: 0px;
}

nav.primary ul li {
  display: inline;
  float: left;
  position: relative;
}

nav.primary ul li a {
  display: inline-block;
  line-height: 49px;
  padding: 0 14px;
  color: #F5E5D7;
  background: #D03918;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.00em;
  /*box-shadow: 0px 0px 2px #392126;*/
  min-width: 80px;
  text-align: center;
}
.mast {
  background-image: url(../images/dark_Tire.png);
  margin: 0 auto !important;
  padding-top: 30px;
}
.mast .row { 
  margin: 0 auto;
}
div.hero { 
  margin: 0px 20px;
  color: #F5E5D7;
}

.hero h2, .hero h4 { 
  color: #F5E5D7;
}

/*hero a.button {

  margin: 0px auto; 
  text-align: center;
}
*/
nav.primary ul li a:hover {
  background: darkred;
  cursor: pointer;
}
 
img { 
  max-width: 100%;
  height: auto;
  margin: 0; padding: 0;
}

.logo img {
  margin-right: 100px;
}

/* Mobile Layout */
@media handheld, only screen and (max-width: 767px) {
  body {
    font-family: 'Actor', sans-serif;
  }
}


/* iPhone Hi-Res Layout */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}


/* Misc */
span.skype_pnh_container {
    display: none !important;
}

span.skype_pnh_print_container {
    display: inline !important;
}

.full-width { 
  width: 100%;
}
.nav-bar {

  background-color:  #D03918;
}

.price-header div.columns { 
  border-bottom: 4px solid lightgrey;
  margin-left: 0;
  margin-right: 0;
  min-width: 180px;
}
.price-header div.columns h4 {
  padding-left: 10px;
  padding-right: 10px; 

}
.price-header div.row {
  margin-bottom: 0;
  border: none;
}
.price-header div.alpha { 
  border-bottom: none;
  min-width: 170px;
}
.price-rows div.alpha {
  font-weight: bold;
  border-right: solid 1px lightgrey;
  padding-top: 20px;
}
.price-rows div.columns {
  padding-top: 20px;
}
.price-rows div.row { 
  margin-bottom: 0;
  padding-top: 0;
}
.price-header div.columns { 
  margin-left: 0;
  margin-right: 0;
}

/* Mail Chimo Form */

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:20px 0 0px 0}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
/*#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}*/
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {
  display:inline-block; padding:8px 0; margin:0 10px 10px 0; text-indent:5px;  min-width:130px;
border-radius: 3px;
margin-right: 10px;
 font-family: 'Actor', sans-serif; font-weight:bold;
}
#mc_embed_signup input.button { font-size: 13px; font-family: 'Actor', sans-serif; font-weight:bold;}
/*#mc_embed_signup input.button {display:inline-block; padding: 0px 10px; margin:0 0 10px 0; min-width:90px;}*/

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

